.box {
  border-left: 1px solid;
  border-top: 1px solid;
  margin: 20px;
  width: 328px;
  display: flex;
  flex-wrap: wrap;
}
.box-component {
  height: 40px;
  width: 40px;
  border-right: 1px solid;
  border-bottom: 1px solid;
}